{{yield}}
<div class="walls">
{{#each walls as |wall|}}
  <div class="wall--name">{{wall.name}}</div>
  {{device-list devices=wall.devices wallId=wall.id isRedirecting=isRedirecting}}
  {{#link-to 'device.new' wall.id}}Add Device{{/link-to}}
  {{#link-to 'wall.edit' wall.id}}Edit Wall{{/link-to}}
{{/each}}
</div>
