{{outlet}}

<p>This allows for redirects to be setup on endpoints, called a "device", in which can be updated from a variety of sources.</p>
<p>This project uses Ember.js and Firebase.io</p>
<p>Written by Patrick Simpson @SimpsonPatrick</p>
