{{#if model}}
  {{#each model as |wall|}}
  <h2>{{wall.name}}</h2>
  {{#link-to 'wall.device.new' wall.id}}Add Device{{/link-to}}
  {{/each}}
{{else}}
<div class="danger">
  <p>You have no wall, add one.</p>
</div>
{{/if}}
<hr>
<div>
  {{#link-to 'wall.new'}}Add Wall{{/link-to}}
</div>

{{outlet}}
